<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax Vue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div id="main" class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Lista VUEjs - AJAX resource </h1>
                <ul class="list-group">
                    <li v-for="usuarios in lists" class="list-group-item">
                        <!-- {{ usuarios.name.first}} {{ usuarios.name.last}} -->
                        {{ usuarios.name}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <h1>JSON</h1>
                <pre>
                    {{ $data}}
                </pre>
            </div>
        </div>
    </div>

    <script src="js/vue2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script>
        // var urlUser = 'https://randomuser.me/api/?results=10';
        var urlUser = 'https://jsonplaceholder.typicode.com/users';
        new Vue({
            el: '#main',
            created: function(){
                this.getUsers();
            },
            data: {
                lists: []
            },
            methods: {
                getUsers: function(){
                    this.$http.get(urlUser).then(function(response){
                        this.lists = response.data;
                    });
                }
            }
        });
    </script>
</body>
</html>