<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos con VUEjs V2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    
</head>
<body>
    

    <div id="main" class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>VUEjs - Filtros</h3>
                <button class="btn btn-primary" v-on:click="getUsers" v-if="!lists.length">Listar</button>
                <ul class="list-group-item" v-else>
                    <li class="list-group-item">
                        <input type="text" placeholder="Buscar" class="form-control" v-model="name">
                    </li>
                    <li v-for="user in searchUser" class="list-group-item">
                        {{user.name}}
                    </li> 
                </ul>

                <h2>Con componente</h2>
                <ul class="list-group-item" v-show="lists.length">
                    <micomponente v-for="user in searchUser" :key="user.id" v-bind:nombres="user"></micomponente>
                </ul>
            </div>
            <div class="col-sm-8">
                <h2>JSON</h2>
                <pre>
                    {{$data}}
                </pre>
            </div>
        </div>
    </div>

    <script>

        Vue.component("micomponente", {
            props: ['nombres'],
            template: `<li class="list-group-item">{{nombres.name}}</li>`
        })

        
        new Vue({
            el: '#main', //componente html del DOM
            data: {
                lists: [],
                name: ""
            }, 
            methods:{
                getUsers: function(){
                    var urlUsers = 'https://jsonplaceholder.typicode.com/users';

                    axios.get(urlUsers).then(response => {
                        this.lists = response.data
                    });
                },
                // elementosLi: function(){
                //     alert(this.lists);
                // }
            },
            computed:{
                searchUser: function(){
                    //retorna los elementos de lists que coincidan en algo con lo tecleado
                    return this.lists.filter(user => user.name.includes(this.name));
                }
            }
        })

    </script>
    
    
</body>
</html>