<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos con VUEjs V2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>

</head>
<body>

    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Eventos en VUEjs</h2>
                </div>
                <div class="col-xs-12">
                    <form action="" v-on:submit.prevent="addName">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="name" v-on:keyup.enter="addName">
                            <span class="input-group-btn">  
                                <input type="sumbit" class="btn btn-default" value="add" v-on:click="addName">
                            </span>  
                        </div>
                    </form>
                        <hr>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in people" v-text="item">

                        </li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <button v-on:click="num +=1">
                        {{ num }}<i class="glyphicon glyphicon-thumbs-up">

                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        miComponenteVuew = 
        new Vue({
            el: '#main', //componente html del DOM
            data: {
                people: ['Lyan', 'Blanca', 'Gaby', 'Karem'],  //arreglo estatico de nombres
                name: "", //sincronizacion con el input
                num: 0, //contador para el boton de me gusta
            }, 
            methods:{
                addName: function(){
                    this.people.unshift(this.name); //ingresa al principo de la lista
                    this.people.push(this.name); //ingresa al final de la lista 
                    this.name = ""; //deja el input en blanco
                }
            }
        })

        console.log(miComponenteVuew.num); //asi puedo ingresar a las propiedades de mi componente de VUE
    </script>
    
    
</body>
</html>