<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listas con VUEjs</title>
</head>
<body>    
    <div id="main">
        <ul>
            <!-- <li v-for="elementos in people">{{ elementos }}</li> -->
            <!--tambien se puede escribir de la siguiente manera  -->
            <li v-for="elementos in people" v-text="elementos"></li>
        </ul>
        <input type="text" v-model="name" v-on:keyup.enter="addName">
    </div>

    <script src="https://unpkg.com/vue@2.4.1"></script>
    <script>
        new Vue({
            el: '#main', 
            data: {
                people: ['Alejandro', 'Coco', 'Alexis', 'Sofia']
            }, 
            name: '',
            methods: {
                addName: function(){
                    this.people.push(this.name.toUpperCase());
                    this.name = ''
                }
            }
        });
    </script>
</body>
</html>