<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V-Bind</title>
</head>
<body>
    <div id="main">
        <input type="text" v-model="info">
        <p v-bind:title="info">Texto de relleno... {{info}}</p>
    </div>

    <script src="js/vue2.js"></script>
    <script>
        new Vue({
            el: '#main',
            data: {
                info: ''
            } 
        });
    </script>
</body>
</html>