<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUEjs V2 V-IF V-ELSE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>    
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h3 v-if="!mensaje">Escribe tu sugerencia</h3>
                    <h3 v-if="mensaje">Preciona enter para enviar!</h3>

                    <!--OTRA MANERA DE HACERLO ES  -->
                    <h3 v-if="!mensaje">Escribe tu sugerencia</h3>
                    <h3 v-else>Preciona enter para enviar!</h3>
                    <!--El else se liga directamente con el if que tenga encima  -->

                    <!--SI LO QUE QUEMEROS QUE SE MUESTRE AL CUMPLIR UNA CONDICION
                    ENTONCES SERA NECESARIO USAR UN TEMPLATE PARA MAYOR FACILIDAD
                    Y COMODIDAD EN EL SOPORTE  -->
                    <template v-if="!mensaje">
                        <h3>Escribe tu sugerencia</h3>
                        <p>El equipo de soporte responde en maximo 24 horas</p>
                        <p>Podrías utilizar Twitter para comunicarte</p>
                    </template>
                    <h3 v-else>Preciona enter para enviar!</h3>
                    
                    <textarea v-model="mensaje" class="form control"></textarea>
                </div>
                <div class="col-sm-7">
                    <h3>JSON</h3>
                    <pre> 
                        {{ $data}}
                    </pre>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.4.1"></script>
    <script>
        new Vue({
            el: '#main', 
            data: {
                mensaje: ""
            }
        });
    </script>
</body>
</html>